# Ignore Python build artifacts.

MANIFEST
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo


# Ignore pyenv files.

.python-version


# Ignore virtualenv environments.

.venv*/
env/


# Ignore Vagrant runtime files.

.vagrant/


# Ignore settings for various IDEs.

.idea/
.project/
.pydevproject/
.vscode/
nbproject/
*.code-workspace


# Ignore OS metadata files.

.DS_Store
Thumbs.db
