## Python requirements for using the python-app template. 
##
##   python -m pip install --requirement=requirements.txt
##
cookiecutter>=1.6
attrs==21.4.0
greenlet==1.1.2
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
python-dotenv==0.19.2
PyYAML==6.0
SQLAlchemy==1.4.29
toml==0.10.2